* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-color: white;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
}

nav .logo a {
    font-size: 25px;
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    color: black;
    text-decoration: none;

}

nav ul {
    float: right;
}

nav li {
    display: inline-block;
    list-style: none;
}

nav li a {
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: black;
    text-decoration: none;
}

nav li a:hover {
    color: #6c757d;
}

.footerBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, .5);
}

main {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type="text"] {
    height: 45px;
    width: 100%;
    color: #3B5983;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #E9F2FF;
    border-radius: 5px;
    padding-left: 25px;
}

input[type="checkbox"] {
    width: fit-content;
}

.b_1 {
    height: 20px;
    width: 100%;
    border: 2px solid #E9F2FF;
    border-radius: 5px;
    padding-left: 25px;
    margin-bottom: 13px;
}

p {
    padding-left: 5px;
    line-height: 20px;
}

.form-checkbox {
    display: flex;
}

.register-form-container {
    width: 515px;
    background: #ffffff;
    box-shadow: 0px 6px 50px rgba(217, 229, 255, 0.7);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 38px;
    padding-bottom: 38px;

}

.form-title {
    color: #30507D;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 38px;
}

.form-field {
    margin-bottom: 13px;
}

.button {
    border: none;
    font-weight: bold;
    font-size: 14px;
    display: block;
    height: 45px;
    background: #247fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    width: 100%
}

.button:hover {
    background-color: #0D6CF2;
}

.form-remember {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.form-remember a {
    text-decoration: none;
    color: #6c757d;
    ;
    cursor: pointer;
}

.form-remember a:hover {
    color: black;
}