<!DOCTYPE html>
<html lang="en">

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/n_2.css') }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H_1</title>
<!--    <link rel="stylesheet" href="n_2.css">-->
</head>

<body>
    <nav>
        <div class="logo">
            <a href="{{ url_for('index') }}">EdTech-направления</a>
        </div>
        <ul>
            <li><a href="#">Наставникам</a></li>
                <li><a href="#">Студентам</a></li>
            {% if flag == False %}
            <li><a href="{{ url_for('login') }}">Вход</a></li>
            <li><a href="{{ url_for('signup') }}">Регистрация</a></li>
            {% else %}
            <li><a href="{{ url_for('logout') }}">Выход</a></li>
             {% endif %}

        </ul>
    </nav>
    <div class="container">
        <div class="main">
            <h1>Образовательная платформа и онлайн-курсов</h1>
            <p>Мы Федеральная IT-компания,<br>— занимаемся разработкой продуктовых решений,<br>— активно привлекаем на
                работу студентов старших курсов региональных ВУЗов со всей страны.</p>
        </div>
        <div class="main_2">
            <img width="auto" height="450px" src="{{ url_for('static', filename='icons/logo.jpg') }}">
<!--            <img src="../ПРОЕКТ/IMG/logo.jpg" width="auto" height="450px">-->
        </div>
    </div>

    <footer>
        <div class="footerBottom">
            <p>© EdTech направление, 2024</p>
        </div>
    </footer>

</body>

</html>