<!DOCTYPE html>
<html lang="en">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/n_3.2.css') }}">
<
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="n_3.2.css">
</head>

<body>
    <nav>
        <div class="logo">
            <a href="{{ url_for('index') }}">EdTech-направления</a>
        </div>
        <ul>
            <li><a href="#">Наставникам</a></li>
            <li><a href="#">Студентам</a></li>
            <li><a href="{{ url_for('login') }}">Вход</a></li>
            {% if flag == False %}
            <li><a href="{{ url_for('signup') }}">Регистрация</a></li>
             {% endif %}
        </ul>
    </nav>
    <main>
        <div class="circle"></div>
        <div class="register-form-container">
            <form method="POST" action="/signup">
            <h1 class="form-title">Регистрация</h1>
            <div class="form-fields">
                <div class="form-field">
                    <input type="text" name="email"  placeholder="Почта">
                </div>
                <div class="form-field">
                    <input type="text" name="name" placeholder="Имя">
                </div>
                <div class="form-field">
                    <input type="text" name="surname" placeholder="Фамилия">
                </div>
                <div class="form-field">
                    <input type="text" name="surname1" placeholder="Отчество">
                </div>
                <div class="form-field">
                    <input type="text" name="password" placeholder="Пароль">
                </div>
                <div class="form-field">
                    <input type="text" name="password1" placeholder="Повторите пароль">
                </div>
<!--                <div class="form-checkbox">-->
<!--                    <input class="b_1" type="checkbox">-->
<!--                    <p>Запомнить меня</p>-->
<!--                </div>-->
           </div>
            <div class="form-buttons">
                <button class="button">Зарегистрироваться</button>
            </div>
            </form>
        </div>
    </main>
</body>

</html>