<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/password.css') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="logo">
            <a href="{{ url_for('index') }}">EdTech-направления</a>
        </div>
        <ul>
            <li><a href="#">Наставникам</a></li>
            <li><a href="#">Студентам</a></li>
            <li><a href="{{ url_for('login') }}">Вход</a></li>
            <li><a href="{{ url_for('signup') }}">Регистрация</a></li>
        </ul>
    </nav>
    <main>
        <div class="circle"></div>
        <div class="register-form-container">
             <form method="POST" action="/send">
            <h1 class="form-title">Сброс пароля</h1>
            <div class="form-fields">
                <div class="form-field">
                    <input type="text" name="mail" placeholder="Почта" value="{{email}}">
                </div>
            </div>
            <div class="base">
                <div class="form-field">
                    <input type="text" name="unik_cod" placeholder="Уникальный код">
                </div>
            </div>
            <div class="form-buttons_2">
                {% if flag == False %}
                <button class="button_2" name="send_code">Отправить код</button>
                {% elif flag == True %}
                <button class="button_2" name="send_code">Подтвердить</button>
                {% endif %}
            </div>
             </form>
        </div>

    </main>
</body>

</html>