<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/profile.css">
</head>

<body>
    <nav>
        <div class="logo">
            <a href="N_1.html">EdTech-направления</a>
        </div>
        <ul>
            <li><a href="#">Наставникам</a></li>
            <li><a href="#">Студентам</a></li>
            <li><a href="entrance.html">Вход</a></li>
            <li><a href="n_3.html">Регистрация</a></li>
        </ul>
    </nav>
    <main>
        <div class="container">
            <img src="../ПРОЕКТ/IMG/polz.png" alt="">
            <div class="name">
                <p>Имя</p>
                <p>Фамилия</p>
                <p>Отчество</p>
                <p>Почта</p>
            </div>
            <div class="buttons">
                <button class="button">Редактировать профиль</button>
            </div>
        </div>
    </main>

</body>

</html>